<!--
{# Следующий шаблон предоставляет собой текст письма, которое мы отправим пользователю
по электронной почте, - в нем содержится ссылка на сброс пароля.
По нажатию на ссылку в полученном электронном письме пользователь должен попасть
на страницу сайта, где сможет это сделать. Чтобы предоставить
ему такую возможность, служит шаблон password_reset_confirm.html
#}
-->

Для смены пароля пользователя с электронной почтой {{ email }}. Перейдите по ссылке ниже:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}