<!--
{# с помощью данного  шаблона уведомим пользователя об успешном завершении смены пароля#}
-->

{% extends "base_generic.html" %}
{% block content %}

<h1> Пароль был успешно изменен!</h1>
<p><a href="{% url 'login' %}">Повторить вход в систему?</a></p>

{% endblock %}

<!--
{#
Имейте в виду, что Django отправляет электронные письма для смены пароля только
на те адреса пользователей, которые хранятся в базе данных в его аккаунте.

Следует отметить, что система смены пароля требует, чтобы ваш сайт поддерживал
электронную почту, описание организации которой выходит за рамки
книги. Так что эта часть сайта пока еще не будет работать полноценно, однако разработчик
имеет возможность протестировать работу всех созданных шаблонов страниц.
Чтобы разрешить их тестирование необходимо поместить в конец файла settings.py следующую строку:

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

Это обеспечит просмотр любых писем, отправленных на консоль (чтобы вы могли
скопировать ссылку на сброс пароля с консоли).
#}
-->


